form#loginreg.col.s12.hide
	input#email.col.s12( type="email", placeholder="your@email.com" )
	input#password.col.s12( type="password", placeholder="Your Password" )
	input#login.col.s12( type="submit", value="login" )
	a#switchlogin( href="#" ) Or register...