form#profile.col.m8.offset-m2.s12.hide

	.label.col.s12 Name: 
	input.col.s12#profilename( type="text", placeholder="Unknown (click to edit)" )

	.label.col.s12 Email: 
	input.col.s12#profileemail( type="text", placeholder="Unknown (click to edit)" )

	.label.col.s12 Location: 
	input.col.s12#profilelocation( type="text", placeholder="Unknown (click to edit)" )

	input.col.m8.offset-m2.s10.offset-s1#saveprofile( type="submit", value="Save" )