form#profile.col.s12

	.label.col.s12 Name: 
	input.col.s12#name( type="text", placeholder="Unknown (click to edit)" )

	.label.col.s12 Email: 
	input.col.s12#email( type="text", placeholder="Unknown (click to edit)" )

	.label.col.s12 Location: 
	input.col.s12#location( type="text", placeholder="Unknown (click to edit)" )

	input.col.m8.offset-m2.s10.offset-s1#saveprofile( type="submit", value="Save" )