- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html
	include pug/_header.pug
	body#index
		main#main.container
			div.row
				div.col.m6.offset-m3.s10.offset-s1
					.row
						h1#title.s12 Air Pollution Alert
					.row
						include pug/_login.pug
					.row
						include pug/_profile.pug

	include pug/_footer.pug