- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html
	include pug/_header.pug
	body#index
		img#cover( src=site.system.url + "/assets/city-compressed.jpg" )
		main#main.container
			div.row#appwrap
				div.col.l6.offset-l3.m8.offset-m2.s12#appcard
					.row
						h1#title.s12 Air Pollution Data
						#error
						#message Log in to see air quality data on any cities you add to your profile. You will see the AQI (Air Quality Index) and what this means for your health.
					.row
						include pug/_loader.pug
					.row
						include pug/_login.pug
					.row
						include pug/_profile.pug

	include pug/_footer.pug