- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html
	include pug/_header.pug
	body
		main
			h1 Log in or register
			div#loginreg
				input#email( type="email", placeholder="your@email.com" )
				input#password( type="password", placeholder="Your Password" )
				input#login( type="submit", value="login" )
				input#register( type="submit", value="register" )
	include pug/_footer.pug